<h1 class="m-3 text-center">Book Order System</h1>

<ul class="d-flex flex-wrap m-1 p-1">
  <li class="list-group-item display-6 shadow-sm text-color-grey border-1 border-color-transparent-black m-2 cursor-pointer"
      [routerLink]="['/customer']" routerLinkActive="nav-active">Customer</li>
  <li class="list-group-item display-6 shadow-sm text-color-grey border-1 border-color-transparent-black m-2 cursor-pointer"
      [routerLink]="['/admin']" routerLinkActive="nav-active">Admin</li>
</ul>
<router-outlet></router-outlet>



